<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
     <head  th:include="fragments/components::components">   </head>


    <body>
        
      
        <div   th:include="fragments/header::header" ></div>
        <!-- here starts body parts-->
 <section style="height: 100% ">
      <div class="container pt-5">
      
        

        <div class=" row justify-content-md-center">

         

          <div class="col-lg-6  ">
            <!-- body start here -->
            <div class="alert alert-danger    " th:if="${error}">
              <p class="text text-center">
             Incorrect Old Password  !!!!
              </p>
            </div>
            <div class="alert alert-danger    " id="msg">
              <p class="text text-center" id="msg_body"> </p>
            </div>
            <!-- pasword  panel -->
           
            <div class="card card-outline-secondary">
              <div class="card-body">
                <form
                  class="form"
                  role="form"
                  th:object="${user}"
                  th:action="@{/passwordsave}"
                  method="POST"
                  autocomplete="off"
                >
                  <div class="form-group row  d-none">
                    <label class="col-lg-3 col-form-label form-control-label"
                      >Id</label
                    >
                    <div class="col-lg-9">
                      <input
                        class="form-control"
                        type="text"
                        th:field="*{user_id}"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="oldpass">Current Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="oldpass"
                      required=""
                      th:field="*{password}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="newpass">New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="newpass"
                      required=""
                      th:field="*{password2}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="newpass2">Re-Type New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="newpass2"
                      required=""
                    />
                  </div>
                  <div class="form-group">
                    <button type="submit"  id="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      $(document).ready(function() {
       
       $("#msg").addClass("d-none");
        $("#submit").on("click", function(e) {
          $("#msg").addClass("d-none");
          $("#msg_body").text("");
          e.preventDefault();
          var op = $("#oldpass").val();
          var p = $("#newpass").val();
          var p2 = $("#newpass2").val();
             
          console.log(op);   
          console.log(p);
          console.log(p2.length);

          if (p.toLowerCase() != p2.toLowerCase()) {
            $("#msg").removeClass("d-none");
            $("#msg_body").text("password mismatch !!!");
          } else if (p.length < 6) {
            $("#msg").removeClass("d-none");
            $("#msg_body").text("Short Password atlest 6 character !!!");
          } else  if (op.toLowerCase()== p.toLowerCase()) {
            $("#msg").removeClass("d-none");
            $("#msg_body").text("No change From new Password from Old one  !!!");
          }         
           else {
            $("#msg").addClass("d-none");
            $("#msg_body").text("");
            $("form").trigger("submit");
          }
        });
      });
    </script>
        
       


        <!-- ends here -->
        <div   th:include="fragments/footer::footer" ></div>
     
        

    </body>
</html>