<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
    <head  th:include="fragments/components::components">  



    </head>


    <body>


        <div   th:include="fragments/header::header" ></div>
        <!-- here starts body parts-->
        <section     >
            <div  class="container pt-5" >

                <div class=" row justify-content-md-center">
                    <div class="col-lg-6  ">



                        <!-- body start here -->

                        <div class="jumbotron">
                            <p>
                                ሓዲሽ ኣባል ክትምዝግብ ከሎኻ ኣብ ግምት ከተእትዎ ዝግበኣካ 
                                ኣወንታዊ ኣስተዋጽኦ ኣብዚ ወብሳይት ክገብር ይኽእል ኢዩ ትብሎ እዩ ። 

                            </p>

                        </div>

                        <div   class="alert alert-danger"  th:if="${exist}">
                            <p class="text text-center">User with this Email  already Exist ! </p>
                        </div>
                        <div class="card card-outline-secondary">
                            <div class="card-header">
                                <h3 class="mb-0  text-center"> ሓዲሽ ኣባል ምምዝጋብ ፎርም</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form"  th:object="${user}"  th:action="@{/registerformSave}"  method="POST" >

                                    <div class="row">

                                        <div class="col">

                                            <!-- first Name -->
                                            <div class="form-group">
                                                <label for="firstName">Full Name</label>
                                                <input type="text" class="form-control"  th:field="*{name}"  id="firstName" required=""/>

                                            </div>
                                        </div>

                                    </div>  

                                    <div class="row">

                                        <div class="col">

                                            <!-- first Name -->
                                            <div class="form-group">
                                                <label for="firstName">Email</label>
                                                <input type="email" class="form-control"  th:field="*{email}"  id="firstemail" required=""/>

                                            </div>
                                        </div>

                                    </div> 

                                    <!-- Submit Button  -->

                                    <div class="row  "   >
                                        <div class="col   offset-8">
                                            <button class=" btn  btn-success"  type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- body ends here -->

                        </div>
                    </div> 
                </div> 

            </div>

        </section>




        <!-- ends here -->
        <div   th:include="fragments/footer::footer" ></div>




    </body>
</html>