<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
    <head  th:include="fragments/components::components">   </head>


    <body>


        <div   th:include="fragments/header::header" ></div>
        <!-- here starts body parts-->
        <div class="container">
            <section>
                <div class="container pt-5">
                    <div class=" row justify-content-md-center">
                        <div class="col-lg-6  ">
                            <!-- body start here -->
                            <div class="alert alert-danger" id="msg">
                                <p class="text text-center" id="msg_body"></p>
                            </div>

                            <div class="card card-outline-secondary">
                                <div class="card-header">
                                    <h3 class="mb-0  text-center">ፓስዎር ናይ ኣካውንት</h3>
                                </div>
                                <div class="card-body">
                                    <form
                                        class="form"
                                        role="form"
                                        action="succes.html"
                                        th:object="${user}"
                                        th:action="@{/newpasswordsave}"
                                        method="POST"
                                        autocomplete="off"
                                        >
                                        <div class="row  d-none">
                                            <div class="col">
                                                <div class="form-group">
                                                    <input
                                                        type="hidden"
                                                        class="form-control"
                                                        id="userId"
                                                        th:field="*{user_id}"
                                                        />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Password -->
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="pas">Password</label>
                                                    <input
                                                        type="password"
                                                        class="form-control"
                                                        value=""
                                                        id="pas"
                                                        name="pass"
                                                        th:field="*{password}"
                                                        required=""
                                                        />
                                                    <div
                                                        class="text text-danger"
                                                        th:if="${#fields.hasErrors('password')}"
                                                        th:errors="*{password}"
                                                        ></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Password2 -->

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="password2">Retype Password</label>
                                                    <input
                                                        type="password"
                                                        class="form-control"
                                                        value=""
                                                        id="pas2"
                                                        name="pass2"
                                                        th:field="*{password2}"
                                                        required=""
                                                        />
                                                    <div
                                                        class="text text-danger"
                                                        th:if="${#fields.hasErrors('password2')}"
                                                        th:errors="*{password2}"
                                                        ></div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Submit Button  -->

                                        <div class="row ">
                                            <div class="col   offset-8">
                                                <button
                                                    class=" btn  btn-success"
                                                    type="submit"
                                                    id="submit"
                                                    >
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- body ends here -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- ends here -->
        <div   th:include="fragments/footer::footer" ></div>
        <script>
            $(document).ready(function() {
       
            $("#msg").addClass("d-none");
            $("#submit").on("click", function(e) {
            $("#msg").addClass("d-none");
            $("#msg_body").text("");
            e.preventDefault();
            var p = $("#pas").val();
            var p2 = $("#pas2").val();
             if (p.toLowerCase() != p2.toLowerCase()) {
            $("#msg").removeClass("d-none");
            $("#msg_body").text("password mismatch !!!");

            } else if(p.length < 6 ){
            $("#msg").removeClass("d-none");
            $("#msg_body").text("Short Password!!!");
            }   else {

            $("#msg").addClass("d-none");
            $("#msg_body").text("");
            $("form").trigger("submit");

            }
            });
            });
        </script>





    </body>
</html>